@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;
  display: flex;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
  margin-top: 24px;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 24px;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #7342d6;
  font-weight: bold;
  padding: 8px;
}

.logo {
  width: 30%;
  z-index: -1;
}

.header__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  padding-bottom: 24px;
  background-color: aliceblue;
}

.input__wrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

form {
  width: 100%;
  text-align: center;
}

input {
  width: 100%;
  height: 80px;
  border-radius: 80px;
  font-size: 24px;
  font-weight: 700;
  /* background-color: ; */
  display: flex;
}

.search-input {
  text-align: center;
}

.input {
  width: 100%;
}

input::placeholder {
  text-align: center;
}

.input-wrapper__img {
  position: absolute;
  transform: translate(50%, -50%);
  right: 8%;
  top: 50%;
}

.fa-solid {
  color: #7342d6;
  font-size: 32px;
  padding: 16px;
}

/*

Search Results

*/

.search-results__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.row__movie-card {
  width: 28%;
  display: flex;
  justify-content: center;
}

.movie-card__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  justify-content: center;
  padding: 16px;
}

h3 {
  text-align: center;
  padding: 8px;
}

p {
  padding: 4px;
}

img {
  width: 100%;
}


/*
 Footer 
 */

 .row__column {
  display: flex;
  flex-direction: column;
  align-items: center;

 }

 footer {
  background-color: #242424;
}

.footer__logo {
  display: flex;
}

.footer__logo--img {
  width: 140px;
  filter: grayscale(1) invert(1);
}

.footer__link,
.footer__copyright {
  color: #fff;
}

.footer__list {
  margin-bottom: 16px;
}

.footer__link {
  padding: 0 8px;
  font-size: 12px;
}

.footer__copyright {
  font-size: 12px;
  margin-bottom: 24px;
}

/*

Small Phones, Tablets, Large Smartphones

*/

@media (max-width: 768px) {
  .nav__link {
    font-size: 16px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  .search-input {
    font-size: 16px;
  }

  .row__movie-card {
  width: 100%;
  display: flex;
  justify-content: center;
}

 .input-wrapper__img {
    display: none;
  }
}

/*

small phones

*/

@media (max-width: 550px) {
 
}
