@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

nav {
  height: 80px;
  display: flex;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
  margin-top: 24px;
}

h2 {
  font-size: 32px;
  margin-bottom: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 24px;
}

.nav__link {
  margin-left: 16px;
  text-decoration: none;
  font-size: 20px;
  color: #7342d6;
  font-weight: bold;
  padding: 8px;
}

.logo {
    width: 30%;
}

.header__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 24px;
    padding-bottom: 24px;
    background-color: aliceblue;
}

.input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

input {
    width: 70%;
    height: 80px;
    border-radius: 80px;
    font-size: 24px;
    font-weight: 700;
    background-color: ;
    display: flex;
}

input::placeholder {
    text-align: center;
}

.input-wrapper_img {
    position: absolute;
}

.fa-solid {
    color: #7342d6;
    font-size: 24px;
    display: none;
}

/*

LANDING

/*

#landing {
  background-color: rgba(115, 66, 214, 0.1)
}